@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
.woodmart {
    max-width: 200px;
}
header .picture{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.picture .icon{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-top: 20px;
    width: 100%;
}
.number .adress{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.number .telephone{
    display: flex;
}
.number .telephone p{
    margin-left: 10px;
}
.number .telephone i{
    margin-top: 5px;
}
.number .mail{
    display: flex;
}
.number .mail p{
    margin-left: 10px;
}
.number .mail i{
    margin-top: 5px;
}
.number .link{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.number .link a{
    text-decoration: none;
    color: black;
}
.carousel-text {
    position: absolute;
    top:10%;
    left:35%;
    color: #fff; /* Opsiyonel: metin rengi */
  }
  .carousel-text button{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px 10px 15px;
  }
 .photo-1{
    position: absolute;
 } 
 .photo1-2{
    position: relative;
 }
 .photo-2{
    position: absolute;
 } 
 .photo2-2{
    position: relative;
 }
 .photo-3{
    position: absolute;
 } 
 .photo3-3{
    position: relative;
 }
.food{
    width: 100%;
    height: 50px;
    background-color: #D12C2C;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.food .container{
    display: flex;
    justify-content: space-between;
}
.food .container .bakery{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.food .container .special{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
.food .container .bakery a{
  text-decoration: none;
  color: #fff;
}
.food .container .special a{
    text-decoration: none;
   color: #fff;
}
.foods{
    border: none;
}
.foods2{
  margin-top: 30px;  
  border: none;
}
.foods2 .card-title{
    color: #fff;
}
.foods2 .card-text{
    color: #fff;
}
.foods2 .card-img-overlay{
    margin-top: 100px;
    margin-left: 20px;
}
.new{
    margin-top: 30px;
}
.foods3{
    border: none;
}
.popular{
    margin-top: 30px;
}
.foods4{
    border: none;
    margin-top: 10px;
}
.top{
    display: flex;
}
.featured{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.featured a{
    text-decoration: none;
    color: black;
    transition: .5s;
}
.featured a:hover{
    color: #D12C2C;
}
footer{
    background-color: #373839;
    width: 100%;
    height: 400px;
}
footer .container{
    display: flex;
}
footer .footer-text{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 200px;
    width: 80%;
}
footer .footer-text .nav-link{
    color: #fff !important;
}
footer .footer-text h5{
    color: #fff;
}
footer .woodmart{
    margin-top: 80px;
    max-width: 250px;
}
footer p{
    color: #fff;
    margin-top: 20px;
}
footer .address{
    display: flex;
}
footer .address i{
   color: #fff;
   font-size: 20px;
   margin-top: 20px;
   margin-right: 10px;
}
footer .telephone{
    display: flex;
}
footer .telephone i{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 10px;
 }